:root{
  --h4-size:22px;
}
p {
  padding: 5px 0;
  line-height: 22px;
  color: var(--color-black);
  letter-spacing: 1.2px;
  font-weight: 400;
}

h4 {
  padding-block: 5px;
}

td {
  color: var(--color-gold);
}

h3 {
  color: var(--color-white);
}

/* </------------- Banner Start ------------------/> */
.about_us-section {
  background: url(image/banner-Image.png);
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.banner-about_us,
.banner-about_us p {
  padding-block: 100px;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: var(--color-white);
}

.banner-about_us p {
  padding-block: 20px 50px;
}

.about_us-heading {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.about_us-technology {
  background-color: var(--color-white);
}

.about_us-head-image {
  text-align: center;
  padding: 30px 15px;
}

/* </------------- Technology Start ------------------/> */
.technologies-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  overflow: hidden;
}
.technoliogy-image span {
  font-weight: 600;
}

.technology-head-image {
  text-align: center;
  max-width: 25%;
  width: 100%;
}

.technologies-image {
  position: relative;
  width: 297px;
  overflow: hidden;
  border-radius: var(--border);
  display: table;
  margin: 0 auto;
}

.technology-head-image h4 {
  padding-bottom: 20px;
}

@keyframes left-slide {
  0% {
    transform: translate(-200%);
  }

  100% {
    transform: translate(-10%);
  }
}

/* </------------- Our Team Section Start ------------------/> */
.team-heading h3 {
  display: table;
  margin: 0 auto;
  color: var(--color-black);
  padding-block: 60px;
}

.founder-image-text {
  display: flex;
  width: 100%;
  align-items: center;
}

.founder-image {
  max-width: 50%;
  width: 100%;
  display: flex;
  box-shadow:inset 0px 0px 20px 0px var(--color-box);
  border-radius:var(--border);
  justify-content: center;
}

.founder-text h4,
.team-text h4 {
  display: grid;
  justify-content: center;
  padding-bottom: 40px;
  text-align: start;
  font-size: var(--h4-size);
}

.team-founder .founder-image-text:last-child {
  display: flex;
  flex-direction: row-reverse;
}

.founder-text p:before {
  content: "\27A4";
  padding-right: 5px;
}

.founder-text {
  padding: 0 35px;
  max-width: 50%;
  width: 100%;
}

.founder-text p {
  display: flex;
}

.our-team {
  display: flex;
  width: 100%;
  gap: 10px;
}

.team-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.team-image {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--color-black);
  border-radius:var(--border);
  position: relative;
  padding-bottom: 100%;
}

.our-team .team-image-text:first-child .team-text {
  padding: 40px 30px 60px;
}

.team-text {
  padding: 30px 30px;
  text-align: center;
}

.team-image-text {
  max-width: 50%;
  width: 100%;
  box-shadow:inset 0px 0px 50px -30px var(--color-box);
  border-radius:var(--border);
}

.image-team {
  position: relative;
  padding-bottom: 80%;
  box-shadow: 0px 0px 20px 0 var(--color-box);
  width: 90%;
  display: table;
  border-radius: var(--border);
  overflow: hidden;
  margin: 20px auto;
}

.image-team img {
  position: absolute;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
  padding: 0 30px 0;
  background-image:url(image/banner-Image.png);
}

/* </------------- Choose Our Dente32? Start ------------------/> */
.choose-content {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding-block: 55px 0;
  overflow: hidden;
}

.choose-heading p {
  color: var(--color-white);
  text-align: center;
  line-height: 25px;
  width: 85%;
  margin: 0 auto;
}

.why-choose h3 {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.choose-head-img {
  max-width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-choose {
  width: 60%;
  border-radius:var(--border);
  background: linear-gradient(-119.1deg, var(--color-secondary) 13.06%, var(--color-darkgreen) 60%, var( --color-main) 80.25%);
  padding: 60px 30px;
  margin: 60px auto 0;
}

.choose-image img {
  width: 70%;
}

.choose-image {
  border-radius: var(--circle);
  margin-bottom: 10px;
  box-shadow:inset 0px 0px 20px 5px var(--color-box);
  background: var( --color-main);
  padding: 26px 10px;
}


/* </------------- Our treatment Section Start ------------------/> */
.technologies-section h3{
  color: var(--color-black);
}
/* </------------- Promise Section Start ------------------/> */
.our-promise {
  overflow: hidden;
}
.promise-content p:before {
  content: "\27A4";
}

.promise-content p {
  display: flex;
  padding-bottom: 15px;
}

.promise-head {
  display: flex;
  justify-content: center;
}

.promise-image-content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
  padding: 0 0 0;
}

.promise-content p:nth-child(3) {
  padding: 0;
}

.promise-image {
  width: 50%;
}

.promise-content .description-text {
  width: 100%;
}

.promise-image img {
  width: 100%;
}

.promise-content {
  width: 40%;
}

.promise-content p {
  width: 100%;
}

@media only screen and (max-width:1024px) {
  .why-choose {
    width: 100%;
  } 
  .team-image-section {
    padding-top: 35px;
  }
  .image-team {
    width: 100%;
  }
  .promise-content {
    width: 50%;
  }
  .founder-text {
    padding: 0 0 0 35px;
  } 
  .technology-section .technologies-section {
    flex-wrap: wrap;
  }
  .technology-section .technology-head-image {
    text-align: center;
    max-width: 45%;
  }
}
  @media screen and (max-width:769px) {
  section {
      padding-top: 25px;
  }
  .banner-about_us {
    padding-block: 100px 50px;
  }
  .team-heading h3{
    padding-block: 0;
    text-align: center;
  }
  .founder-text h4,
  .team-text h4 {
    padding-block: 20px;
    text-align: center;
  }

  .technologies-image img {
    border-radius:var(--border);
  }

  .banner-about_us p {
    padding-block: 10px 25px;
  }

  .team-image {
    padding-bottom: 100%;
  }

  .our-team {
    flex-direction: column;
  }

  .choose-head-img {
    max-width: 100%;
  }

  .why-choose {
    width: 100%;
    padding: 25px 15px 15px;
    margin: 40px auto 0;
  }
  .promise-image {
    width: 100%;
  } 
  .promise-image-content {
    flex-direction: column;
    gap: 0px;
  }

  .our-team {
    gap: 50px;
  }

  .team-founder .founder-image-text:last-child,
  .founder-image-text {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .founder-image{
    max-width: 100%;
  }
  .founder-text {
    padding: 0;
    max-width: 100%;
  }

  .team-heading {
    padding-block: 0 10px;
  }

  .founder-text h4,
  .team-text h4 {
    font-size: 18px;
    text-align: center;
  }

  .founder-text p {
    text-align: start;
    display: flex;
  }

  .our-team .team-image-text:first-child .team-text,
  .team-text {
    padding: 0px 10px 20px;
  }

  .promise-image,
  .team-image-text {
    max-width: 100%;
  }
  .technology-section .technology-head-image {
    max-width: 50%;
    display: table;
  }
  .promise-content {
    width: 100%;
  }

  .promise-content p {
    width: 100%;
  }

  .choose-content {
    gap: 15px;
  }

  .technologies-image:before {
    width: 100%;
    height: 97%;
    border-radius: var(--border);
  }
}

@media only screen and (max-width:425px) {
  .find-heading {
    display: block;
  }
  .technology-head-image {
    max-width: 100%;
  }
  .team-founder {
    gap: 40px;
  }

  .technologies-image:before {
    width: 100%;
    height: 98%;
  }

  .promise-head {
    display: block;
  }

  .choose-heading {
    display: block;
  }

  .about_us-heading {
    display: block;
  }
}