:root {
    --color-white: #fff;
    --color-black: #000;
    --color-main: #2b9f9c;
    --color-box: #346665;
    --color-gold:#cbb26a;
    --color-secondary: #463670;
    --color-highlight: #08be9a;
    --color-darkgreen: #00614e;
    --border:15px;
    --circle:50%;
    --p-size: 20px;
    --h1-size:75px;
    --h2-size:35px;
    --h3-size:26px;
    --sh1-size:55px;
    --rp-size:14px;
    --rh1-size:38px;
    --rh2-size:28px;
    --rh3-size:22px;
    --rh4-size: 22px;
    --rrh2-size:22px;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container-header {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

body[style="overflow: auto;"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 9999;
    display: none;
}

.container-section {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 15px;
}

.fade-in.show {
    opacity: 1;
    transform: translate(0);
}

.fade-in {
    opacity: 0;
    transform: translate(-50px, 0px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-out.show {
    opacity: 1;
    transform: translate(0);
}

.fade-out {
    opacity: 0;
    transform: translate(50px, 0px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

h2,
h3{
    font-size: var(--h2-size);
    color: var(--color-white);
    font-weight: 600;
    letter-spacing: 0.8px;
}

h2 {
    color: var(--color-black);
    text-transform: capitalize;
}

h1 {
    letter-spacing: 3px;
    color: var(--color-white);
    font-size: var(--h1-size);
    font-weight: 700;
}

h3 {
    font-size: var(--h3-size);
    color: var(--color-white);
    font-weight: 500;
}

p {
    font-size: var(--p-size);
    color: var(--color-white);
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 22px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    font-size: var(--p-size);
}

.active a {
    color: var(--color-highlight) !important;
}

li.menu-item.active {
    position: relative;
}

li.menu-item.active:after {
    border-bottom: 2px solid var(--color-highlight);
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
}

img {
    max-width: 100%;
    width: 100%;
    vertical-align: bottom;
}

a:hover {
    color: var(--color-highlight);
    transition: 0.4s ease-in-out;
}

h2.bottom-line {
    position: relative;
}

h2.bottom-line::before {
    position: absolute;
    content: "";
    width: 100%;
    background: linear-gradient(94deg, var(--color-black) 0%, var(--color-main) 50%, var(--color-black) 100%);
    border-radius: var(--circle);
    transform: translate(-50%, 9px);
    height: 3px;
    top: 100%;
    left: 50%;
}

.section-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
section{
    padding-block: 20px;
}
@media screen and (max-width:1024px) {
    h1 {
        font-size: var(--rh1-size)
    }
}
@media screen and (max-width:768px) {
    h2 {
        font-size: var(--rrh2-size);
        font-weight: 700;
    }
    a{
        font-size: var(--rp-size);
    }
    h3{
        font-size: var(--rh3-size);
        line-height: 32px;
    }

    h1 {
        font-size: var(--rh1-size)
    }

    section {
        padding-top: 35px !important;
    }

    p {
        font-size: var(--rp-size);
        line-height: 24px;
    }
}

@media screen and (max-width:425px) {
    section {
        padding-top: 30px !important;
    }
}

/* </------------- Loder Start ------------------/> */
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 9998;
}

body.revealed #loader {
    opacity: 0;
    transition: opacity 5s;
}

body[style="overflow: hidden;"]:before,
body[style="overflow: hidden;"]:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
    background: black;
    z-index: 9999;
    transition: transform 5s ease-in-out;
}

body[style="overflow: hidden;"]:before {
    top: 0;
    transform: translateY(0);
}

body[style="overflow: hidden;"]:after {
    bottom: 0;
    transform: translateY(0);
}

body.revealed[style="overflow: hidden;"]:before {
    transform: translateY(-100%);
}

body.revealed[style="overflow: hidden;"]:after {
    transform: translateY(100%);
}

.loading-text {
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: var(--color-white);
    position: relative;
    margin: 0 auto;

    &:before {
        content: "";
        position: absolute;
        width: fit-content;
        height: 3px;
        background-color: var(--color-darkgreen);
        bottom: 0;
        left: 0;
        border-radius:var(--border);
        animation: movingLine 3.5s infinite ease-in-out;
    }
}

loder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    z-index: 999999;
}

@keyframes movingLine {
    0% {
        opacity: 0;
        width: 0;
    }

    33.3%,
    66% {
        opacity: 0.8;
        width: 100%;
    }

    85% {
        width: 0;
        left: initial;
        right: 0;
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 0;
    }
}

.loading-container img {
    max-width: 520px;
    width: 100%;
}

.loading-text {
    font-size: 38px;
    line-height: 64px;
    letter-spacing: 0.87px;
    margin-bottom: 32px;
    color: var(--color-white);
    white-space: nowrap;

    span {
        animation: moveLetters 3.5s infinite ease-in-out;
        transform: translatex(0);
        position: relative;
        display: inline-block;
        opacity: 0;
        text-shadow: 2px -2px 12px var(--color-white);
    }
}

@keyframes moveLetters {
    0% {
        transform: translateX(-15vw);
        opacity: 0;
    }

    33.3%,
    66% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(15vw);
        opacity: 0;
    }
}

.socials {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
}

.social-link {
    color: var(--color-white);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
}
/* </------------- Fixed Text ------------------/> */
.text-social {
    display: flex;
    width: 40%;
    gap: 20px;
    padding-block: 30px 0;
    align-items: center;
}

/* </------------- Header Start ------------------/> */
header {
    background-color: var(--color-white);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    padding: 10px;
}

.navigation {
    display: block;
}

.navigation-slide {
    display: none;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navigation ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header-logo {
    width: 15%;
}

.header-logo img {
    width: 100%;
}

nav.navigation ul li a:hover {
    color: var(--color-highlight);
    border-bottom: 2px solid var(--color-highlight);
    transition: 0.02s ease;
}

nav.navigation ul li.active a:hover {
    border-bottom: none;
}

nav.navigation ul li a,
.header-navigation a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    transition: 0.5s ease;
    padding-bottom: 5px;
}

.header-navigation a {
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.8px;
}

/* </------------- Banner Start ------------------/> */
.banner-text p:before {
    content: "\297D";
}

.banner-section {
    background-image: url(image/banner-Image.png);
    background-attachment: fixed;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0;
}

.banner-heading {
    padding: 150px 0 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.banner-text {
    max-width: 45%;
    width: 100%;
}

.image-banner img {
    width: 100%;
    position: relative;
    z-index: 2;
    transform: translate(0, 5px);
}

.banner-text h1 {
    padding: 0 0 30px;
    font-size: var(--h1-size);
    line-height: 82px;
    color: var(--color-white);
    font-weight: 600;
    text-shadow: 9px 5px 20px var(--color-black);
}

.banner-text p {
    color: var(--color-white);
    font-weight: 400;
    line-height: 30px;
}

.image-banner {
    position: relative;
    max-width: 50%;
    width: 100%;
}

.background-animation {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 50%;
    left: 50%;
}

.circle,
.circle2,
.circle3 {
    width: 100px;
    height: 100px;
    border-radius: var(--circle);
    background: var(--color-black);
    position: absolute;
    animation: scaler 4s infinite;
    animation-timing-function: linear;
}

.circle2 {
    animation-delay: 1s;
}

.circle3 {
    animation-delay: 2s;
}

@keyframes scaler {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(4);
        opacity: 0.20;
    }

    67% {
        transform: scale(7);
        opacity: 0.10;
    }

    100% {
        transform: scale(10);
        opacity: 0;
    }
}

/* </------------- Services Start ------------------/> */
.description-content:hover .learn-more-btn {
    display: block;
    transition: all 0.5s ease;
}

.description-content:after {
    border: 2px solid var(--color-white);
    content: "";
    position: absolute;
    top: 6%;
    bottom: 6%;
    left: 6%;
    right: 6%;
    border-radius:var(--border);
}

.description-content a {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 80px;
}

.description-image {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 25%;
    border-radius: var(--circle);
    background: var(--color-main);
    box-shadow: 0px 0px 30px 8px var(--color-box);
    margin-top: -80px;
}

.description-content {
    padding: 40px 44px 40px;
    box-shadow:inset 0px 0px 20px 1px var(--color-box);
    border-radius:var(--border);
    position: relative;
    background: var(--color-main);
}

.description-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
    text-align: center;
}

/* </------------- Appoinment Start ------------------/> */
.rich-contect-section .container-header{
    overflow: hidden;
}
.appointment-content {
    display: flex;
    justify-content: center;
}
.appointment-whatsapp,
.appointment-time,
.appointment-number {
    max-width: 100%;
    width: -webkit-fill-available;
    text-align: center;
}
.appointment-whatsapp h3,
.appointment-time h3,
.appointment-number h3 {
    text-align: center;
    padding: 65px 50px 50px;
    color: var(--color-white);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px;
}
.appointment-whatsapp h3:after,
.appointment-time h3:after,
.appointment-number h3:after {
    content: "";
    width: 80%;
    position: absolute;
    height: 3px;
    background: var(--color-white);
    left: 50%;
    transform: translate(-50%);
    border: 0;
    top: 85%;
}
.appointment-whatsapp {
    background: var(--color-secondary);
    border-top-right-radius: var(--border);
    border-bottom-right-radius: var(--border);
}
.appointment-section {
    padding-block: 50px 0;
    overflow: hidden;
  }  
.appointment-time {
    background-color: var(--color-darkgreen);
    box-shadow: inset 0px 0px 20px 0px var(--color-black);
}
.appointment-number a,
.appointment-whatsapp a {
    justify-content: start;
    display: flex;
    align-items: baseline;
    padding: 12px 0 0 20px;
}
.appointment-number {
    background: var(--color-main);
    border-top-left-radius: var(--border);
    border-bottom-left-radius: var(--border);
}
.appointment-number a:before {
    content: "\f2a0";
    font-family: fontAwesome;
    margin-right: 15px;
    background: var(--color-black);
    border-radius: var(--circle);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appointment-time p:before {
    content: "\f017";
    font-family: fontAwesome;
    margin-right: 20px;
    background: var(--color-black);
    color: var(--color-white);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--circle);
}
.appointment-whatsapp a:before {
    content: "\f232";
    font-family: fontAwesome;
    margin-right: 10px;
    background: var(--color-black);
    padding: 8px 10px;
    border-radius: var(--circle);
}
.appointment-time p {
    text-align: start;
    padding: 0 0 30px 20px;
    color: var(--color-white);
    display: flex;
    align-items: center;
}
.appointment-content .appointment-whatsapp.appointment-address a:before {
    display: none;
}
.appointment-content .appointment-whatsapp.appointment-address p {
    padding: 0;
}
@media only screen and (max-width: 1024px) {
    .appointment-whatsapp h3,
    .appointment-time h3,
    .appointment-number h3 {
        padding: 65px 35px 50px;
    }
}

/* </------------- Virchual section Start ------------------/> */

/* </------------- Footer Start ------------------/> */
footer {
    background-image: url(image/banner-Image.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 20px;
    margin-top: 60px;
    overflow: hidden;
    background-color: #000;
}
    
.footer {
    display: grid;
    grid-template-columns: 36.8% 20% 36.8%;
    gap: 35px;
}

.fotter-logo {
    max-width: 50%;
    padding-bottom: 10px;
}

footer h3 {
    color: var(--color-white);
}

.appointment-address p:before {
    content: "\f3c5";
    font-family: fontAwesome;
    background: var(--color-black);
    color: var(--color-white);
    padding: 10px 14px;
    border-radius: var(--circle);
}

.appointment-address p {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    color: var(--color-white);
    text-align: start;
    gap: 15px;
}

.footer-policy p {
    color: var(--color-white);
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-block: 50px 0;
    border-top: 3px solid;
    padding-top: 5px;
    border-image: linear-gradient(to right, var(--color-black), var(--color-white)) 1;
    font-size: 14px;
}

.appointment-number a:last-child:before {
    content: "\f232";
}

.footer-section p {
    color: var(--color-white);
    padding-top: 20px;
}

.footer-section img {
    width: 100%;
}

.footer h3 {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.footer-link ul li {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-link ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-location {
    text-align: center;
}

.fotter-address {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    gap: 15px;
}

.fotter-address a {
    line-height: 28px;
    width: fit-content;
}

@media only screen and (max-width:1024px) {
    section{
        padding-top: 45px;
    }
    .section-heading{
        margin-bottom: 45px;
    }
    .banner-text h1 {
        font-size: var(--sh1-size);
        line-height: 65px;
    }
    .background-animation {
        right: 60%;
    }

    .content-service {
        gap: 70px 40px;
    }

    .banner-text {
        width: 50%;
    }

    .image-banner img {
        width: 100%;
    }

    .description-text {
        gap: 20px;
    }

    .description-content {
        padding: 30px 34px 30px;
    }
}

@media only screen and (min-width:769px) {
    .description-section .content-service-slider {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .appointment-number a:before,
    .appointment-address p:before {
        margin-right: 10px;
        font-size: var(--rp-size);
        width: 35px;
        height: 35px;
    }

    .description-image {
        max-width: 55%;
    }

    .appointment-address p:before {
        width: 13px;
        height: 20px;
    }

    .content-service {
        display: none;
    }

    .description-text p {
        display: grid;
        grid-template-rows: 450px;
    }

    .promise-section .description-text {
        height: 100%;
    }

    .content-service-slider .slick-list {
        margin: 0 0 0 -30px;
    }

    .content-service-slider .slick-list .slick-track .description-content {
        margin-left: 30px;
    }

    .content-service-slider .slick-list .slick-track {
        padding-top: 60px;
    }

    .appointment-section {
        display: flex;
        justify-content: center;
    }

    .text-social {
        display: flex;
        width: 20%;
    }

    .footer-link ul {
        gap: 5px;
    }

    .footer-section p {
        text-align: start;
    }

    .footer-link ul li {
        text-align: start;
        justify-content: start;
    }

    .description-content:before {
        display: none;
    }

    .section-heading {
        margin-bottom: 30px;
    }

    .banner-heading {
        padding: 90px 0 0;
    }

    .learn-more-btn {
        position: relative;
        bottom: 0;
        display: none;
    }

    .description-content {
        padding: 60px 40px 0;
    }

    .description-content:hover .learn-more-btn {
        display: none;
    }

    .footer h3 {
        justify-content: start;
    }

    .appointment-content {
        flex-direction: column;
    }

    .fotter-address {
        max-width: 100%;
        text-align: start;
        align-items: start;
    }

    .appointment-address p {
        color: var(--color-white);
        padding: 0 20px 30px;
    }

    .fotter-address a {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .appointment-whatsapp h3,
    .appointment-time h3,
    .appointment-number h3 {
        padding: 45px 15px 20px;
    }

    .appointment-number a,
    .appointment-whatsapp a {
        padding-block: 0px 20px;
        justify-content: start;
        padding-left: 3%;
        font-size: var(--p-size);
    }

    .appointment-time p {
        justify-content: start;
    }

    .appointment-time p:nth-child(2) {
        padding-top: 30px;
    }

    .footer-link ul li {
        padding-bottom: 15px;
    }

    .appointment-whatsapp a:before {
        padding: 12px 13.44px;
    }

    .appointment-number {
        background: var(--color-main);
        border-top-left-radius: var(--border);
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--border);
    }

    .appointment-whatsapp {
        background: var(--color-secondary);
        border-top-right-radius: 0;
        border-bottom-right-radius: var(--border);
        border-bottom-left-radius: var(--border);
    }

    .appointment-whatsapp h3 br,
    .appointment-time h3 br,
    .appointment-number h3 br {
        display: none;
    }

    .loading-container {
        margin: 0;
    }

    .loading-text {
        font-size: var(--rh2-size);
        line-height: 54px;
        letter-spacing: 0.4px;
        margin-bottom: 30px;
        white-space: nowrap;
    }

    .header-navigation {
        width: 100%;
    }

    .navigation-slide {
        display: flex;
        position: relative;
        justify-content: end;
    }

    .footer-section {
        width: 100%;
    }

    .header-logo img {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .header-logo {
        width: 30%;
    }

    .description-text h3 {
        display: block;
    }

    .navigation-slide.activate .navigation-content {
        display: flex;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        background: var(--color-black)000ba;
        z-index: 9998;
        height: 100vh;
        justify-content: end;
        transform: translate(0%);
        transition: 0.5s ease;
    }

    .navigation-slide .navigation-content {
        transform: translate(150%);
        transition: 0.5s ease;
        position: fixed;
        top: 0;
        background: var(--color-black)000ba;
        z-index: 9998;
        height: 100vh;
        display: flex;
    }

    .navigation-slide span.line-toggle {
        display: flex;
        height: 2px;
        box-shadow: 0px 0px 0px 1px var(--color-box);
        border-radius:var(--border);
        transition: 0.5s ease;
    }

    .navigation-slide span.line-toggle:nth-child(1) {
        width: 40px;
    }

    .navigation-slide span.line-toggle:nth-child(2) {
        width: 30px;
        transform: translate(0vh);
        transition: 0.5s ease;
    }

    .navigation-slide span.line-toggle:nth-child(3) {
        width: 20px;
    }

    ul.navigation-menu-slide {
        background: var(--color-black);
        padding: 50px 30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 35px;
        width: 60%;
    }

    li.menu-item.active {
        position: relative;
        display: flex;
        width: max-content;
    }

    body.hide {
        overflow: hidden !important;
    }

    .toggle {
        display: inline-flex;
        flex-direction: column;
        gap: 7px;
        align-items: end;
        border-radius:var(--border);
        position: relative;
    }

    .navigation-slide.activate span.line-toggle:nth-child(2) {
        transform: translate(20vh);
        transition: 0.5s ease;
        z-index: 9999;
    }

    .navigation-slide.activate span.line-toggle:nth-child(3) {
        width: 25px;
        rotate: 306deg;
        position: absolute;
        transition: 0.5s ease;
        z-index: 9999;
        background: var(--color-white);
    }

    .navigation-slide.activate span.line-toggle:nth-child(1) {
        rotate: 50deg;
        width: 25px;
        transition: 0.5s ease;
        position: absolute;
        z-index: 9999;
        background: var(--color-highlight);
    }

    .description-image img,
    .description-image:nth-child(2) img {
        width: 75%;
    }

    .banner-text h1 {
        padding: 0 0 5px;
        line-height: 45px;
    }

    .footer-location {
        width: 100%;
    }

    .footer {
        flex-direction: column;
    }
}

@media only screen and (max-width:670px) {
    .banner-heading {
        align-items: end;
    }
}

@media only screen and (max-width:600px) {
    .loading-text {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .description-content:after {
        top: 4%;
        bottom: 4%;
        left: 4%;
        right: 4%;
    }

    .description-text p {
        display: block;
    }
    .description-text {
        gap: 10px;
        padding-top: 10px;
    }
    .banner-heading {
        align-items: center;
        gap: 60px;
    }

    .banner-heading {
        flex-direction: column;
    }

    .description-content {
        padding: 40px 24px 30px;
    }
    .text-social {
        display: flex;
        width: 25%;
    }

    .banner-text {
        max-width: 100%;
        width: 100%;
    }

    .image-banner {
        width: 100%;
        max-width: 90%;
    }

    .banner-text p {
        text-align: start;
    }

    .description-image {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .appointment-section {
        padding-block: 10px 0;
    }
    .fotter-logo {
        max-width: 80%;
        padding-bottom: 40px;
        display: table;
        margin: 0 auto;
    }
    .description-text {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .description-image:after {
        width: 70%;
    }

    .find-me {
        gap: 80px;
    }

    .description-image img,
    .description-image:nth-child(2) img {
        width: 55%;
    }

    .description-image {
        margin-top: -70px;
        max-width: 45%;
        padding: 25px 0px;
    }

    .find-heading {
        padding-bottom: 50px;
    }

    .find-text-content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer {
        padding: 20px 0 20px;
        margin-top: 40px;
    }

    .footer {
        gap: 20px;
    }

    .footer-section p {
        padding: 0;
    }

    .text-social {
        padding-block: 10px 0;
    }

    .footer-link ul,
    .fotter-address {
        gap: 0;
    }

    .footer h3 {
        padding-bottom: 10px;
    }

    .footer-policy p {
        margin-block: 30px 0;
    }
}

@media screen and (max-width: 426px) {
    .background-animation {
        right: 63%;
    }

    ul.navigation-menu-slide {
        width: 80%;
    }

    .appointment-content {
        flex-direction: column;
        width: 100%;
    }

    h2.bottom-line {
        text-align: center;
        display: table;
        margin: 0 auto;
    }

    .image-banner {
        width: 90%;
    }

    .appointment-number a,
    .appointment-whatsapp a {
        font-size: var(--rp-size);
    }

    .text-social {
        display: flex;
        width: 60%;
    }

    .appointment-number a,
    .appointment-whatsapp a {
        padding-left: 6%;
    }

    .header-logo {
        width: 40%;
    }

    .faq-questions {
        width: 100%;
        margin: 0 auto;
    }

    .description-heading {
        display: block;
        padding-block: 0 70px;
    }

    .banner-heading {
        padding: 70px 0 0;
        gap: 30px
    }

    .banner-text h1 {
        font-size: var(--h2-size);
    }
}